//FONTES
$font-primary: Roboto, sans-serif;

//COLORS

$color-primary:rgb(40,43,48);
$color-secondary:rgb(66,69,73);
$color-tertiary:rgb(30,33,36);
$color-quaternary: rgb(114,137,218);
$color-font:white;