@import '../abstract/_variables.scss';

#articles{
    margin: 0 13rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 4rem;
        h1{
            font-size: 45px;
            text-align: center;
            text-transform: uppercase;
        }
        img{
            max-width: 40rem;
            max-height: 45rem;
        };

    }
    .article{
        #general-info, .aditional-info{
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-weight: bold;
            width: 36rem;
            height: 20rem;
            border: 15px solid white;
            border-radius: 15px;
            margin: .5rem 1rem;
            padding: 1rem 2rem;
            transition: all .1s ease-out;
            &:hover{
                box-shadow: 0 0 6px  white;
                transform: scale(1.075);
            }
            .info{
                .content{
                    .table{
                        border: 2px solid white;
                    }

                }
                

            }
            img{
                width: 350px;
                height: 220px;
                margin-left: 4rem;
            }
        }
    }
}